@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");

body,
html {
  font-family: "Roboto Mono", monospace;
  background-color: #f0f0f0; /* Light grey background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; Use the full height of the viewport */
  margin: 0; /* Remove default margin */
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use the full height of the viewport */
}

.intro-text {
  width: 50%;
  padding-top: 2em;
}

.minimal-navbar {
  display: flex;
  justify-content: center; /* Center navbar items horizontally */
  align-items: center; /* Center navbar items vertically */
  flex-direction: row; /* Stack items vertically */
  gap: 50px; /* Space between navbar items */
  position: fixed; /* Fixed position */
  top: 4em; /* Align to the top */
}

.minimal-navbar a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s;
  border-bottom: 2px solid #333; /* Add underline with 2px solid border */
}

.minimal-navbar a:hover {
  color: #007bff;
}
